.container {
  font-family: 'Roboto', normal;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1280px;
}

/* HEADER */

/* logo */

.part-of-logo {
  color: #4bcaff;
}

.header-logo {
  margin-top: 38px;
  font-size: 80px;
  margin-bottom: 38px;
}

.header-logo a {
  text-decoration: none;
  color: #000;
}

/* nav */

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
  list-style-type: none;
  margin-bottom: 48px;
  height: 72px;
}

.header-nav a {
  display: block;
  text-decoration: none;
  padding: 24px 30px;
  color: #fff;
  border-right: 1px solid #fff;
  font-size: 24px;
  height: 100%;
}

.header-nav li:first-child {
  border-left: 1px solid #fff;
}

.header-nav a:hover {
  background-color: #222f3a;
}

/* MAIN */

.main {
  display: flex;
  justify-content: space-between;
}

/* aside */

.main-aside {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  border: 1px solid #485863;
  width: 345px;
  height: 100%;
}

.main-aside a {
  display: block;
  text-decoration: none;
  color: #485863;
  font-size: 27px;
  padding: 25px 45px;
}

.main-aside a:hover {
  background-color: #dbdbdb;
  color: #000;
  padding-left: 65px;
}

/* content */

.main-content {
  display: flex;
  flex-direction: column;
}

.block-of-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #485863;
  width: 885px;
  height: 530px;
  margin-bottom: 37px;
}

.main-image {
  background: url('../img/top1-img\ 1.jpg') center no-repeat;
  width: 100%;
  height: 100%;
  transition: transform .4s linear;
}

.main-image:hover {
  transform: scale(108%);
}

.main-text p {
  font-size: 18px;
  line-height: 24px;
  width: 885px;
}

.text-first {
  margin-bottom: 34px;
}

.text-second {
  margin-bottom: 54px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(99, 105, 110, 0.48);
  position: relative;
  margin-bottom: 38px;
}

.footer-nav {
  display: flex;
  list-style-type: none;
  font-size: 28px;
}

.footer-nav a {
  color: #0C1927;
  text-decoration: none;
  margin-right: 30px;
  
}

.footer-nav a:hover {
  transition: border-bottom 1s;
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
}

.copyright {
  position: absolute;
  top: 33%;
  margin-left: 1000px;
  font-size: 24px;
}